<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>關於My書</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1 ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
  <script src="http://ajax.googleapis,com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script th:src="@{/js/bootstrap.min.js}"src="../static/js/bootstrap.min.js"></script>
  <style>
  	<!--html,body{height:100%;margin:5px;padding:5px}-->
  	#header{
  		width:900px;height:80px;margin:0px auto
  	}
  	#content{
  		width:900px;height:700px;margin:0px auto
  	}
  	#footer{
  		width:900px;height:80px;margin:0px auto
  	}
  </style>
</head>

<body id="page">
  <header id="header" class="fluid-container">
    <div class="row">
      <div class="col-lg-7 col-md-4 col-sm-6 col-xs-3" style="font-size:xx-large;"><a th:href="@{/homepage}">My書</a></div>
      <div class="col-lg-5 col-md-8 col-sm-6 col-xs-9">
        <ul>
          <li style="display:inline;margin-right:10px" th:unless="${session.member!=null}"><a th:href=@{/member/login} >登入</a></li>
          <li style="display:inline;margin-right:10px" th:if="${session.member!=null}" th:text="'Hi,'+${session.member.name}+',歡迎光臨'"></li>
          <li style="display:inline;margin-right:10px" th:unless="${session.member!=null}"><a th:href=@{/member/join}>加入會員</a></li>
          <li style="display:inline;margin-right:in-right:10px"><a th:href="@{/getcart}">購物車</a></li>
          <li style="display:inline;margin-right:10px" th:if="${session.member!=null}"><a th:href=@{/member/myaccount/index}>會員專區</a></li>
          <li style="display:inline;margin-right:10px" th:if="${session.member!=null}" ><a th:href=@{/member/logout}>登出</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div id="content" class="fluid-container">
     <div style="padding:90px;">
       <div style="margin:20px">
         <h3>經營理念</h3>
         <span>「提供誠信、便利、專業、創新的服務平台，打造消費者完美使用經驗。」成為華文世界電子商務服務平台的第一品牌</span>
       </div>
       <div style="margin:20px">
         <h3>企業定位</h3>
         <span>「以數位科技應用，結合虛擬與實體，成為消費者品味閱讀、質感生活的推動者」</span>
       </div>
       <div style="margin:20px">
         <h3>企業使命</h3>
         <span>「以數位科技應用，結合虛擬與實體，成為消費者品味閱讀、質感生活的推動者」</span>
       </div>
       <div style="margin:20px">
         <h3>企業願景</h3>
         <span>「成為華文消費者「好書本指南、好生活解答」的首選服務平台」</span>
       </div>
       <div style="margin:20px">
         <h3>品牌精神</h3>
         <span>「在購物中思考‧在閱讀中進化」「Book Your Life」</span>
       </div>
     </div>
  </div>
  
  <footer id="footer">
    <div style="width:18%;height:100%;float:left;">
      <ul style="list-style-type:none;">
        <li><a th:href="@{/about}">關於My書</a></li>
        <li><a th:href="@{/privacyAndService}">隱私權&amp;服務條款</a></li>
        <li><a th:href="@{/guide}">新手上路</a></li>
        <li><a th:href="@{/Q&A}">Q&amp;A</a></li>
        <li><a href="#">Facebook</a></li>
      </ul>
    </div>
    <div style="width:82%;height:100%;float:right;text-align:center;">
      <ul style="list-style-type:none;">
        <li style="display:inline;">客服專線: 02-123456789</li>
        <li style="display:inline;">傳真: 02-987654321</li>
        <li style="display:inline;">客服信箱: 123456789@gmail.com</li>
      </ul>
      <ul style="list-style-type:none;">
        <li style="display:inline;">服務時間：週一~五 8:00~19:00，週六~日、例假日 9:00~18:00，365天全年無休</li>
      </ul>
       <ul style="list-style-type:none;">
        <li style="display:inline;">麥書文化股份有限公司</li>
        <li style="display:inline;">地址: 苗栗縣苗栗市為公路747號</li>
      </ul>
    </div>
  </footer>
    
</body>

</html>