<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title th:text="'My書>'+${book.name}"></title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1 ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
  <script src="http://ajax.googleapis,com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script th:src="@{/js/bootstrap.min.js}"src="../static/js/bootstrap.min.js"></script>
  <style>
  	<!--html,body{height:100%;margin:5px;padding:5px}-->
  	#header{
  		width:900px;height:80px;margin:0px auto
  	}
  	#content{
  		width:900px;height:900px;margin:0px auto
  	}
  	#footer{
  		width:900px;height:80px;margin:0px auto
  	}
  </style>
  <script th:inline="javascript">
  	var message = [[${message}]];	
    	if(message!=null){
    	window.alert(message);
    }
  </script>
</head>

<body id="page" th:object="${session.member}" >
  <header id="header" class="fluid-container">
    <div class="row">
      <div class="col-lg-7 col-md-4 col-sm-6 col-xs-3" style="font-size:50px;font-weight:bolder"><a th:href="@{/homepage}">My書</a></div>
      <div class="col-lg-5 col-md-8 col-sm-6 col-xs-9">
        <ul>
          <li style="display:inline;margin-right:10px" th:unless="${session.member!=null}"><a th:href=@{/member/login} >登入</a></li>
          <li style="display:inline;margin-right:10px" th:if="${session.member!=null}" th:text="'Hi,'+${session.member.name}+',歡迎光臨'"></li>
          <li style="display:inline;margin-right:10px" th:unless="${session.member!=null}"><a th:href=@{/member/join}>加入會員</a></li>
          <li style="display:inline;margin-right:in-right:10px"><a th:href="@{/getcart}">購物車</a></li>
          <li style="display:inline;margin-right:10px" th:if="${session.member!=null}"><a th:href=@{/member/myaccount/index}>會員專區</a></li>
          <li style="display:inline;margin-right:10px" th:if="${session.member!=null}" ><a th:href=@{/member/logout}>登出</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div id="content" class="fluid-container">
      <div style="height:500px;">
        <div style="display:inline;width:500px;height:500px;float:left;padding-left:80px;padding-top:60px;border-style:ridge;">
 		  <img th:alt="${book.name}" th:src="'/picture/'+${book.image}">
		</div>
        <div style="width:400px;height:500px;float:right;padding:50px">
          <h2 th:text="${book.name}">無罪之日</h2>
          <div>
            <ul>
              <li th:text="'作者: '+${book.author}">作者:xxx</li>
              <li th:text="'出版社: '+${book.publisher}">出版社:xxx</li>
              <li th:text="'出版日: '+${book.publishdate}">出版日:YYYY-MM-DD</li>
            </ul>
            <p th:text="'定價: '+${book.price}+'元'">定價:300元</p>
            <p th:text="'優惠價: '+${#numbers.formatDecimal(book.price*book.discount, 0, 0)}+'元('+${book.discount*10}+'折)'">特價:250元</p>
          </div>
          <div>
            <p th:text="'庫存: '+${book.amount}" id="bookamount">庫存>10</p>
            <form method="post" th:action="@{/addtocart}">
            <button type="submit" name="bookid" th:if="${book.amount!=0}" th:value="${book.id}">加入購物車</button>
            </form>
            <form method="post" th:action="@{/reorder/add}">
            <button type="submit" name="bookid" th:if="${book.amount==0}" th:value="${book.id}">可訂購時通知我</button>
            </form>
          </div>
        
        </div>
      </div>
      <div th:text="${book.introduction}" style="display:block;height:400px;text-aligh:center;padding:100px"></div>
      <!--<div style="display:block;height:300px;background-color:green"></div>  -->  
  </div>
  
  <footer id="footer">
    <div style="width:18%;height:100%;float:left;">
      <ul style="list-style-type:none;">
        <li><a href="#">關於My書</a></li>
        <li><a href="#">隱私權&amp;服務條款</a></li>
        <li><a href="#">新手上路</a></li>
        <li><a href="#">Q&amp;A</a></li>
        <li><a href="#">Facebook</a></li>
      </ul>
    </div>
    <div style="width:82%;height:100%;float:right;text-align:center;">
      <ul style="list-style-type:none;">
        <li style="display:inline;">客服專線: 02-123456789</li>
        <li style="display:inline;">傳真: 02-987654321</li>
        <li style="display:inline;">客服信箱: 123456789@gmail.com</li>
      </ul>
      <ul style="list-style-type:none;">
        <li style="display:inline;">服務時間：週一~五 8:00~19:00，週六~日、例假日 9:00~18:00，365天全年無休</li>
      </ul>
       <ul style="list-style-type:none;">
        <li style="display:inline;">麥書文化股份有限公司</li>
        <li style="display:inline;">地址: 苗栗縣苗栗市為公路747號</li>
      </ul>
    </div>
  </footer>
    
</body>

</html>