<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>密碼修改</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1 ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
  <script src="http://ajax.googleapis,com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script th:src="@{/js/bootstrap.min.js}"src="../static/js/bootstrap.min.js"></script>
  <style>
  	<!--html,body{height:100%;margin:5px;padding:5px}
  	#page{
  		width:100%;height:100%;display:flex;flex-direction:column;
  	}
  	#header{
  		width:100%;height:10%;text-align:center;font-size:xxx-large;
  	}-->
  	#content{
  		width:100%;height:80%;
  	}
  	#footer{
  		width:100%;height:10%;
  	}
  </style>
  <script>
  	function validate(){
    	var newpwd = document.getElementById("newpasswordId");
    	var checkedpwd = document.getElementById("checkedpasswordId");
    	if(newpwd.value != checkedpwd.value){
    		alert("新密碼兩次輸入不同，請重填")
    		return false;
    	}	  
    } 	  
  </script>
  <script th:inline="javascript">
  	var message = [[${message}]];	
    	if(message!=null){
    	window.alert(message);
    }
  </script>
</head>

<body id="page">
  <header id="header"><a th:href="@{/homepage}">My書</a></header>
  <div id="content" class="container" style="max-width:30%; margin-top:0;">
    <div style="text-align:center;"><h1 class="page-header">密碼修改</h1></div>
    <p style="text-align:right">
      <a th:href="@{/member/myaccount/index}" class="btn btn-default">會員專區</a>
    </p>
    <div class="well">
      <form onsubmit="return validate();" th:action="@{/member/myaccount/changePassword}" method="post">
        <div class="form-group">
    	  <label for="expasswordId">舊密碼</label><input type="password" id="expasswordId" name="expassword" class="form-control"required autofocus>
    	</div>
    	<div class="form-group">
    	  <label for="newpasswordId">新密碼</label><input type="password" id="newpasswordId" name="newpassword" class="form-control"required autofocus>
    	</div>
    	<div class="form-group">
    	  <label for="checkedpasswordId">再次確認</label><input type="password" id="checkedpasswordId" class="form-control"required autofocus>
    	</div>
    	<p style="text-align:center">
    	  <button type="submit" class="btn btn-default">送出</button>
    	</p>
        </form>
    </div>
  </div>
  
  
  <footer id="footer"></footer>
</body>
</html>