<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>加入會員</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1 ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
  <script src="http://ajax.googleapis,com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script th:src="@{/js/bootstrap.min.js}"src="../static/js/bootstrap.min.js"></script>
  <style>  	
  	#header{
  		top:0;width:100%;height:10%;text-align:center;font-size:xxx-large;margin-bottom:10px;
  	}
  	#content{
  		width:100%;height:100%;top:50px;margin-button:10px;
  	}
  	#footer{
  		top:10%;width:100%;height:50px;
  	}
  </style>
  <script>
  	function validate(){
    	var email1 = document.getElementById("emailId");
    	var email2 = document.getElementById("checkedEmailId");
    	var pwd1 = document.getElementById("passwordId");
    	var pwd2 = document.getElementById("checkedPasswordId");
    	if(email1.value == email2.value && pwd1.value == pwd2.value){
    		return true;
    	}
    	if(email1.value != email2.value){
    		alert("兩次輸入信箱不同，請重新輸入")
    		return false;
    	}
    	if(pwd1.value != pwd2.value){
    		alert("兩次輸入密碼不同，請重新輸入")
    		return false;
    	}
    		  
    }	  
  </script>
  <script th:inline="javascript">
  	var message = [[${message}]];	
    	if(message!=null){
    	window.alert("此信箱已註冊過");
    }
  </script>
</head>

<body id="page">
  <header id="header"><a th:href="@{/homepage}">My書</a></header>
  <div id="content" class="container" style="max-width:500px; margin-top:0;">
    <div style="text-align:center;"><h1 class="page-header">加入會員</h1></div>
    <div class="well">
      <form onsubmit="return validate();" th:action="@{/member/join}" method="post" th:object="${memberForm}">
      	<div class="form-group">
    	  <label for="nameId">姓名*</label><input type="text" id="nameId" name="name" class="form-control" th:field="*{name}" required autofocus>
    	  <p class="form-control-static text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    	</div>
        <div class="form-group">
    	  <label for="emailId">信箱*</label><input type="text" id="emailId" name="email" class="form-control" th:field="*{email}" required>
    	  <p class="form-control-static text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    	</div>
    	<div class="form-group">
    	  <label for="checkedemailId">確認信箱*</label><input type="email" id="checkedEmailId" name="checkedEmail" class="form-control" th:field="*{checkedEmail}" required>
    	  <p class="form-control-static text-danger" th:if="${#fields.hasErrors('checkedEmail')}" th:errors="*{checkedEmail}"></p>
    	</div>
    	<div class="form-group">
    	  <label for="passwordId">密碼*</label><span>  (至少8位數且不可與信箱相同)</span><input type="password" id="passwordId" name="password" class="form-control" th:field="*{password}" required>
    	  <p class="form-control-static text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    	</div>
    	<div class="form-group">
    	  <label for="checkedpasswordId">確認密碼*</label><input type="password" id="checkedPasswordId" name="checkedPassword" class="form-control" th:field="*{checkedPassword}" required >
    	  <p class="form-control-static text-danger" th:if="${#fields.hasErrors('checkedPassword')}" th:errors="*{checkedPassword}"></p>
    	</div>
    	<div class="form-group">
    	  <label for="birthdayId">生日*</label><input type="date" id="birthdayId" name="birthday" class="form-control" th:field="*{birthday}" required>
    	  <p class="form-control-static text-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></p>
    	</div>
    	<div class="form-group">
    	  <label for="mobileId">手機*</label><input type="text" id="mobileId" name="mobile" class="form-control" th:field="*{mobile}" onkeyup="value=value.replace(/[^\d]/g,'')" required>
    	  <p class="form-control-static text-danger" th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}"></p>
    	</div>
    	<div class="form-group">
    	  <label for="locationId">住址</label><input type="text" id="locationId" name="location" class="form-control" th:field="*{location}">
    	  <p class="form-control-static text-danger" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></p>
    	</div>
    	<p style="text-align:center">
    	  <button type="submit" class="btn btn-default">送出</button>
    	</p>
        </form>
    	
    </div>
  </div>
  
  
  <footer id="footer"></footer>
</body>
</html>
