<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>登入</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1 ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
  <script src="http://ajax.googleapis,com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script th:src="@{/js/bootstrap.min.js}"src="../static/js/bootstrap.min.js"></script>
  <style>
  	#header{
  		width:100%;height:10%;text-align:center;font-size:xxx-large;margin-bottom:10px;
  	}
  	#content{
  		width:100%;height:80%;
  	}
  	#footer{
  		width:100%;height:10%;
  	}
  </style>
  <script th:inline="javascript">
  	var message = [[${message}]];	
    	if(message!=null){
    	window.alert(message);
    }
  </script>
</head>

<body id="page">
  <header id="header"><a th:href="@{/homepage}">My書</a></header>
  <div id="content" class="container" style="max-width:300px; margin-top:0;">
  <div style="text-align:center;"><h1 class="page-header">登入</h1></div>
    <div class="well">
      <form th:action="@{/member/login}" method="post">
        <div class="form-group">
    	  <label for="emailId">信箱</label><input type="text" id="emailId" name="email" class="form-control"required>
    	</div>
    	<div class="form-group">
    	  <label for="passwordId">密碼</label><input type="password" id="passwordId" name="password" class="form-control"required>
    	</div>
    	<div class="form-group">
    	  <input type="hidden" name="targetUrl" th:value="${targetUrl}">
    	</div>
	    <p> 
	      <a th:href="@{/member/join}">加入會員</a>
    	  <a th:href="@{/forgot}">忘記密碼</a>
    	</p>
    	<p>
    	  <button type="submit" class="btn btn-default">登入</button>
    	  <button type="reset"  class="btn btn-default">清除</button>
    	</p>
        </form>
    
    </div>
  </div>
  
  
  <footer id="footer"></footer>
</body>
</html>